*.key
*.pem
*.pub
.env
.env.*
secrets.json

node_modules/
dist/
build/
*.log
.npm
.tsconfig.tsbuildinfo

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
*.egg-info/
.mypy_cache/

.docker/
.DS_Store
Thumbs.db
*.swp
*.bak
/swapfile

.idea/
*.iws
out/
.vscode/
