node_modules/
dist/
build/
.next/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.env
.env*.local
.idea/
.vscode/
.git/
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

.DS_Store
Thumbs.db