fastapi
uvicorn
redis
apscheduler
sqlalchemy[asyncio]>=2.0.0
asyncpg
sentry-sdk[fastapi]
python-dotenv
pydantic
passlib
bcrypt==3.2.0
python-jose
pydantic-settings
alembic
email-validator
python-multipart
pytz